@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');


* {
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.cabecalho::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);    
    backdrop-filter: blur(35px); 
    z-index: -1;
    transition: .5s;
}

.cabecalho::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.cabecalho:hover::after {
    left: 100%;
}
.logo{
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.menu a{
    margin-left: 2.5rem;
    font-size: 1.15rem;
    color: white;
    font-weight: 500;
    text-decoration: none;
}

#check:checked ~ .icons #icon-fechar {
    display: inline-flex;
}

#check:checked ~ .icons #icon-menu {
    display: none;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    cursor: pointer;
    color: white;
    font-size: 2.8rem;
    display: none;
}

.icons #icon-fechar {
    display: none;
}

@media (max-width:992px) {
    .cabecalho {
        padding: 1.3rem 5%;
    }
}

@media (max-width:768px) {
    

    .icons {
        display: inline-flex;
    }


    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        border-bottom-left-radius: 3%;
        border-bottom-right-radius: 3%;
        background-color: rgba(0, 0, 0, .1);
        backdrop-filter: blur(100px);
        box-shadow: inset 0px 20px 16px 3px rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .5s ease-in-out;
    }

    #check:checked ~ .menu {
        height: 15.3rem;

    }
    .menu a {
        display: block;
        margin: 1.5rem 0;
        text-align: center;
        font-size: 1.2rem;
        transform: translateY(-100px);
        opacity: 0;
        transition: .5s ease-in-out;

    }

    #check:checked ~ .menu a  {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.10s * var(--i));

    }
}


.apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 5rem 0;
    margin-bottom: 100px ;
    background-image: linear-gradient(to left, #F29BA2, #F26D85, #F2DCE2, #f3eae1);
    background-size: 300% 100%;
    animation: degrade-animado 5s  infinite alternate;
}

@keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
        
}

 .texto-apresentacao {
    max-width: 600px;
    color: white;
 }

.divBotoes {
    display: flex;
    gap: 1.7rem;
    margin: 0 auto;
    border: none;
    margin-top: 2rem;
}
.botao-catalogo, .botao-entrega{
    display: inline-block;
    padding: 0.8rem 2rem;
    border-radius: 45px;
    box-shadow:1px 8px 15px 2px rgb(0 0 0 / 10%);

}
 .botao-catalogo {
    background-image: linear-gradient(90deg, #5bc54c, #7EA672  );
    border: none;
 }

.botao-entrega {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  backdrop-filter: blur(100px); 
  border: none;
  z-index: 0;  
}

.botao-entrega::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px; /* espessura da borda */
  background: linear-gradient(90deg, #F29BA2, #F26D85);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
   pointer-events: none; 
}

 .botao-catalogo a , .botao-entrega a {
    text-decoration: none;
    font-weight: 500;
    color: white;

 }
 .botao-entrega a {
    padding: 10px;
    color: #F26D85;
    animation: cor-fonte 5s  infinite alternate;
 }

 @keyframes cor-fonte {
    0% {
            color: #F26D85;
    }
    100% {
        color: white;
    }
        
}