

.menu-inferior {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(35px);
    display: flex;
    align-items: center;
    padding: 10px 0;
    z-index: 999;

}



.icon-carrinho-perfil button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.tamanho {
    font-size: 20px;
}

.menu-item {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: auto;
}

.menu-item i {
  font-size: 22px;
  display: block;
  margin-bottom: 3px;
  color: white;
}

.menu-item.ativo i {
  transform: scale(1.5);
  transition: 0.2s ease;
}


.menu-item.ativo {
  color: #00bcd4; /* azul claro */
}

.menu-inferior.hide {
  transform: translateY(100%);
  opacity: 0;
  transition: transform 1.2s ease, opacity 1.2s ease;
}


@media (min-width: 768px) {
  .menu-inferior {
    display: none;
  }
}